* { 
    scroll-behavior: smooth;
box-sizing: border-box; 
margin: 0; 
padding: 0; 
color: whitesmoke; 
} 

body {
    background-color: #000;
    text-align: center;
}

a {
    text-decoration: none;
    color: #5ffff6
}

#steve { 
    height: 50px; 
    width: 80px; 
} 

#hero { 
    line-height: 1.8; 
    margin-top: 50px;
} 

h1 { 
    font-family: monospace;
    position: relative; 
    padding: 5px 5px; 
    font-weight: 900; 
    font-size: 50px; 
} 

#projects {
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}

#grid {
    background: #af0fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.project p {
    margin: 0px;
    background-color: #1f1f1f;
    position: flex;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: monospace;
    font-size: 150%;
}

.project {
    background-color: #0c0c0c;
    border-radius: 50px;
}

.project a {
    width: 70%;
    display: block;
    height: 60%;
    border-radius: 10% 10% 30% 30%;
    margin: auto;
    transform: translateY(20%);
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#coffee {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

#patch {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
}

#wheel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%
}

#beans {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

#groom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

#intro {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px 10%;
    font-size: 25px;
    line-height: 1.5;
}

#main {
    font-family: verdana;
    margin-top: 10%;
    font-size: 22px;
    margin-bottom: 180px;
}

.space {
    margin-bottom: 45px;
}

#services {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    background: #0d3cbea9;
    padding-bottom: 20px;
    height: 100%;
    padding-top: 30px;
    width: 80%;
    margin: 0 auto 80px auto;
    border-radius: 10px;
    box-shadow: 0 10px 10px #1249e2ce;
}

#services p {
    margin: 20px 10% 30px 10%;
    font-size: 22px;
}

li {
    list-style: none;
    font-size: 30px;
}

h2 {
    margin-bottom: 40px;
}

#about p {
    margin: 20px 5%;
    font-size: 20px;
    font-family: inter;
}

#about {
    margin-bottom: 100px;
}

h4 {
    font-family: inter;
    font-size: 50px;
    margin-bottom: 50px;
}

#process {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 70px;
    background-color: rgba(99, 39, 196, 0.747);
    padding: 20px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 60px;
}

#process p {
    font-size: 20px;
}

#process li {
    margin: 30px auto;
}

#blank-gra {
    background: linear-gradient(#af0fff, rgba(99, 39, 196, 0.747));
    height: 100px;
    padding: 100px;
}

#email {
    background-color: #0656b377;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 880px) {
    body {
        overflow-x: hidden;
    }

    #grid {
        grid-template-columns: 1fr 1fr;
        height: 1000px;
    }
}
